$main-color: #333;

ul {
	font-size: 13px;
	li {
		background-color: red;
		&:hover {
			color: $main-color;
		}
	}
}

p {
	font-size: 16px;
	span {
		text-decoration: uppercase;
		i {
			text-size: 20px;
		}
	}
}

